.outerContainer {
  width: 70%;
  padding: 40px 20px;
}
.container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  gap: 5px;
}
.title {
  font-family: "Arial Nova", serif;
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}
